In [1]:
import pandas as pd 
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [2]:
#clean the data but there is no null value so split data set into sets 
#so when we train a model we give two seperate data sets input set and output set (genre) for prediction since  
#since there is no sample for 21 years old male we will ask the model to predict
#it doesnt modify the original data set infact it will create new data set with this column 
#we have droped genre 

X = music_data.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [3]:
#this will return new data set 
y = music_data['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [23]:
#create a model using a algorithm , there are so many algorithms but all have pros and cons 
#we dont have to explicidily program them all are present in sklearn 
from sklearn.tree import DecisionTreeClassifier

#create a model 
model = DecisionTreeClassifier()

model.fit(X,y)

#now ask model to make predictions 
predictions = model.predict([ [21,1], [22,0] ])
predictions

array(['HipHop', 'Dance'], dtype=object)

In [17]:
#model could successfully make predictions here but making it accurate is not that easy 
#after we build a model we need to build its accuracy and if it is not accurate enough we need to fine tune it or build
#using different algorithm 70-80 % training 20-30% testing 
#split data into two set 1)training 2)testing
#calculating accuracy

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score 

#allocate 20%of data set it returns a tuple
#the more data we give to our model and cleaner the data is we get better result 
#first two are input sets for training and testing and other output set for training and testing

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

#instead of passing whole data set we pass only training data set 
model.fit(X_train,y_train)

#for passing a prediction 
predictions = model.predict(X_test)

#to calculate value of accuracy compare the predictions with actual value we have in output set 
score = accuracy_score(y_test, predictions)
score

1.0

In [25]:
import joblib

#store train model in a file 
joblib.dump(model, 'music-recommender.joblib')

['music-recommender.joblib']

In [30]:
#load our model 

trainedmodel = joblib.load('music-recommender.joblib')
newprediction = trainedmodel.predict([[21,1]])
newprediction

array(['HipHop'], dtype=object)

In [35]:
#import decision tree in grapical format 
from sklearn import tree 

tree.export_graphviz(trainedmodel, out_file='music-recommender.dot', 
                     feature_names=['age', 'gender'], 
                     class_names=sorted(y.unique()),
                     label='all',
                     rounded=True,
                     filled=True)